:root {
  --washed-out-green: rgb(154, 160, 134);
  --light-green: rgb(101, 109, 74);
  --dark-green: rgb(51, 61, 41);
  --cream-white: rgb(254, 250, 224);
  --light-orange: rgb(147, 102, 57);
  --dark-orange: rgb(88, 47, 14);
}

h1 {
  margin: 10px;
  font-size: 50px;
}

p {
  font-size: 25px;
  margin: 10px;
}
