body {
  background-color: rgb(0,128,128);
}

.nav-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color: rgb(192, 192, 192);
  border-top: 0.5vh solid rgb(236,236,236);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clock-div {
  font-family: "Pixelify Sans";
  margin-right: 20px;
  font-size: 30px;
}

#APM {
  margin-left: 5px;
}

.icon-div {
  cursor: pointer;
  height: 13vh;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  height: 5vh;
}

.icon-text {
  font-family: "Pixelify Sans";
  font-size: 16px;
  color: aliceblue;
  background-color: rgba(128, 128, 128, 0.918);
  padding: 2px 15px;
  margin: 0;
  font-weight: 500;
  margin-top: 2px;
}

.main-screen-body {
  height: 100%;
  position: absolute;
  left: 2%;
  top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.folder {
  z-index: 10000;
  width: 80%;
  height: 75%;
  background-color: rgb(192, 192, 192);
  position: fixed;
  top: 3%;
  right: 10%;
  display: flex;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
}

.folder-header {
  font-family: "Pixelify Sans";
  font-size: 23px;
  color: white;
  width: 98.5%;
  height: 5%;
  background-color: rgb(3, 3, 161);
  margin: 0;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}

.header-btns {
  box-sizing: border-box;
  height: 60%;
  aspect-ratio: 1 / 1;
  background-color: gray;
  border-bottom: 2px solid rgb(36, 36, 36);
  border-right: 2px solid rgb(36, 36, 36);
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  color: black;
  cursor: pointer;
}

.header-btn-icon {
  margin: 0;
  font-size: 18px;
  margin-left: 4px;
}

.folder-content {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}

.folder-content-div {
  width: 7%;
  aspect-ratio: 1 / 1;
  z-index: 2000;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
  cursor: pointer;
}

.folder-text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Pixelify Sans";
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.918);
  padding: 2px 15px;
}

.folder-img {
  height: 80%;
  margin: 0;
}

.blog-folder {
  top: 23%;
  right: 5%;
  height: 70%;
}

.file-txt {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Pixelify Sans";
  font-size: 15px;
  background-color: rgba(128, 128, 128, 0.918);
  padding: 2px 15px;
}

.blog-folder .folder-content {
  margin-left: 40px;
}

.blog-folder .folder-img {
  height: 80px;
}

.blog-folder p {
  height: 1fr;
}

.blog-folder .folder-content-div {
  width: 10%;
}

#minesweeper {
  height: 80%;
  margin-bottom: -20px;
  margin-top: -50px;
}