.demonstration {
  width: 300px;
  background-color: var(--cream-white);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.demonstration-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
  border: 5px dotted black;
  margin-bottom: 20px;
}

.demonstration-section p {
  margin-left: 20px;
}

.black-box p {
  width: 100px;
  margin-right: 0px;
}

.black-box {
  border: 4px solid black;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.black-box p {
  color: black;
  font-weight: bold;
  margin-left: 0;
}

.above-black-box {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  border: 4px solid black;
  height: 60px;
  border-radius: 5px;
}

#padding {
  animation: paddingAnimation 3s infinite;
}

@keyframes paddingAnimation {
  0% {
    padding: 0px;
  }
  50% {
    padding: 20px;
  }
  100% {
    padding: 0px;
  }
}

#margin {
  animation: marginAnimation 5s infinite;
}

@keyframes marginAnimation {
  10% {
    margin-top: 0px;
  }
  40% {
    margin-top: 100px;
  }
  60% {
    margin-top: 100px;
  }
  90% {
    margin-top: 0px;
  }
}

#border-margin {
  animation: borderMarginAnimation 5s infinite;
}

@keyframes borderMarginAnimation {
  10% {
    margin-top: 0px;
    border-width: 4px;
  }
  40% {
    margin-top: 10px;
    border-width: 14px;
  }
  60% {
    margin-top: 10px;
    border-width: 14px;
  }
  90% {
    margin-top: 0px;
    border-width: 4px;
  }
}

#box-appear {
  animation: boxAppearing 5s infinite;
}

@keyframes boxAppearing {
  0% {
    width: 0px;
    height: 0px;
  }
  20% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

#text-fade-in {
  animation: textFadeIn 5s infinite;
}

@keyframes textFadeIn {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
  }
  90% {
    color: black;
  }
  100% {
    color: rgba(0, 0, 0, 0);
  }
}

#border-width {
  animation: borderWidthAnimation 3s infinite;
}

@keyframes borderWidthAnimation {
  0% {
    border-width: 5px;
  }
  50% {
    border-width: 20px;
  }
  100% {
    border-width: 5px;
  }
}

#border-color {
  animation: borderColorAnimation 20s infinite;
}

@keyframes borderColorAnimation {
  0% {
    border-color: red;
  }
  8.3% {
    border-color: orangered;
  }
  16.6% {
    border-color: orange;
  }
  25% {
    border-color: rgb(255, 208, 105);
  }
  33.3% {
    border-color: yellow;
  }
  41.6% {
    border-color: yellowgreen;
  }
  50% {
    border-color: green;
  }
  58.3% {
    border-color: cyan;
  }
  66.6% {
    border-color: blue;
  }
  75% {
    border-color: blueviolet;
  }
  83.3% {
    border-color: purple;
  }
  91.6% {
    border-color: magenta;
  }
  100% {
    border-color: red;
  }
}

#border-style {
  animation: borderStyleAnimation 10s infinite;
}

@keyframes borderStyleAnimation {
  0% {
    border-style: dashed;
  }
  20% {
    border-style: dotted;
  }
  40% {
    border-style: double;
  }
  60% {
    border-style: groove;
  }
  80% {
    border-style: solid;
  }
  100% {
    border-style: dashed;
  }
}

@media (max-width: 600px) {
  .demonstration-section {
    width: 80vw;
  }

  p {
    width: 200px;
  }

  .demonstration {
    width: 100px;
    height: 100px;
  }

  .black-box {
    height: 50px;
    width: 50px;
  }

  @keyframes boxAppearing {
    0% {
      width: 0px;
      height: 0px;
    }
    20% {
      width: 50px;
      height: 50px;
    }
    100% {
      width: 50px;
      height: 50px;
    }
  }

  @keyframes paddingAnimation {
    0% {
      padding: 0px;
    }
    50% {
      padding: 10px;
    }
    100% {
      padding: 0px;
    }
  }

  .above-black-box {
    top: 5px;
    right: 2px;
    left: 2px;
    border: 2px solid black;
    height: 10px;
  }
  @keyframes marginAnimation {
    10% {
      margin-top: 0px;
    }
    40% {
      margin-top: 30px;
    }
    60% {
      margin-top: 30px;
    }
    90% {
      margin-top: 0px;
    }
  }

  @keyframes borderMarginAnimation {
    10% {
      margin-top: 3px;
      border-width: 4px;
    }
    40% {
      margin-top: 10px;
      border-width: 8px;
    }
    60% {
      margin-top: 10px;
      border-width: 8px;
    }
    90% {
      margin-top: 3px;
      border-width: 4px;
    }
  }
}
